<!-- <h3>test affichage</h3>
@for (g of guitaristeslist; track $index){
  <div>
    <p>{{g.nom}} | {{g.prenom}} | {{g.dateNaiss}}</p>
  </div>
} -->

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Encyclopédie de guitares</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Les guitaristes</b></h1>
    <!-- petite barre rouge -->
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
   
  <!-- Generation d un container pour chaque guitaristes de la liste -->

  <!-- <div class="w3-row-padding w3-grayscale">
    <div *ngFor="let g of guitaristeslistIntermediaire; let i = index" class="w3-col m4 w3-margin-bottom">
        <div class="w3-light-grey">
            <div class="w3-container">
                Utilisez les propriétés de chaque guitariste pour afficher ses données -->
                <!-- <h3>{{ g.guitaristeNom }} {{ g.guitaristePrenom }}</h3>
                <p class="w3-opacity">Date de naissance: {{ g.guitaristeDateNaiss | date : "dd-MMM-yyyy" }}</p> -->
                <!-- Ajoutez d'autres données du guitariste si nécessaire -->
            <!-- </div>
        </div>
    </div>
</div> -->



<!-- Afficher les guitaristes dans des conteneurs -->
  <div class="w3-row-padding" style="display:flex; flex-direction: row; flex-wrap: wrap;">
    <div *ngFor="let g of guitaristeslist; let i = index" class="w3-light-grey m4 w3-margin-bottom flex-col-adapt">
      <div class="w3-light-grey" style="height: 100%; display: flex; flex-direction: column;">
        <div class="w3-container" style="flex-grow: 1;">
          <h3>{{ g.nom }} {{ g.prenom }}</h3>
          <p class="w3-opacity">Date de naissance: {{ g.dateNaiss | date : "dd MMMM yyyy" : '' : 'fr-BE' }}</p>
          <div *ngFor="let nomGuitare of g.libelle_Guitare; let i = index">
            <li class="w3-opacity custom-link" (click)="popup(g.id_Guitare![i])">{{ nomGuitare }}</li>
          </div>
          <!-- <p class="w3-opacity">Guitares: {{ g.libelle_Guitare }}</p> -->
        </div>
      </div>
    </div>
  </div>

  <dialog close id="modalGuitare">
    <ng-container *ngIf="guitareModal">
      <div style="text-align: center;">
        <p>{{guitareModal.libelle}}</p>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <div style="display: flex; justify-content: center;">
          <img class="ImgGuitare" [src]="'https://localhost:7206/images/' + guitareModal.urlImage" alt="Romano Adriano">
        </div>
      </div>
      <p>Prix: {{guitareModal.prix | currency:'EUR'}}</p>
      <p>Nombres de cordes: {{guitareModal.nbrCordes}}</p>
      <p>Année de sortie: {{guitareModal.anneeDeSortie}}</p>
      <p>Description:</p>
      <p>{{guitareModal.description}}</p>
      <form method="dialog">
        <button class="w3-button w3-red " style="position: absolute; top: 0; right: 0;">X</button>
      </form>
      </ng-container>
  </dialog>
  

  
  
  
  
<!-- Formulaire pour ajouter un nouveau guitariste -->
<div>
    <h2 class="w3-xxxlarge w3-text-red">Ajouter un guitariste</h2>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <form [formGroup]="formInsertGuitariste" (ngSubmit)="InsertGuitariste()">
      <div class="w3-section">
            <label for="nom">Nom:</label>
            <input class="w3-input w3-border" formControlName="nom" type="text" id="nom" name="nom" required>
          </div>
          <div class="w3-section">
            <label for="prenom">Prénom:</label>
            <input class="w3-input w3-border" formControlName="prenom" type="text" id="prenom" name="prenom" required>
          </div>
          <div class="w3-section">
            <label for="dateNaiss">Date de naissance:</label>
            <input class="w3-input w3-border" formControlName="dateNaiss" type="date" id="dateNaiss" name="dateNaiss" required>
          </div>
          <div class="w3-section">
            <label for="guitare">Guitares:</label>
            <input class="w3-input w3-border" formControlName="guitare" type="text" id="guitare" required>
          </div>
          <button type="submit" [disabled]="!isFormInsertValid" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Ajouter</button>
    
    </form>
</div>

<!-- Supprimer un guitariste -->
<div>
  <h2 class="w3-xxxlarge w3-text-red">Supprimer un guitariste</h2>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <div>
    <select [(ngModel)]="selectDeleteGuitariste" style="margin-right: 10px">
      <option *ngFor="let g of guitaristeslist" [value]="g.id_Guitariste">ID: {{g.id_Guitariste}} | {{ g.nom }} | {{ g.prenom }} | {{ g.dateNaiss | date : "dd-MMM-yyyy" }}</option>
    </select>
    <button (click)="onDeleteSelectedGuitariste()" class="w3-button w3-red" [disabled]="!selectDeleteGuitariste">Supprimer</button>
  </div>
</div>




<div>
  <h2 class="w3-xxxlarge w3-text-red">Modifier un guitariste</h2>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <div>
    <!-- Sélectionnez un guitariste à mettre à jour -->
    <select [(ngModel)]="selectedGuitaristeId" style="margin-right: 10px">
      <option *ngFor="let g of guitaristeslist" [value]="g.id_Guitariste">ID: {{g.id_Guitariste}} | {{ g.nom }} | {{ g.prenom }} | {{ g.dateNaiss | date : "dd-MMM-yyyy" }}</option>
    </select>    
  </div>
  <div>
    <br> 
    <!-- Formulaire pour mettre à jour le guitariste sélectionné -->
    <form [formGroup]="formPostGuitariste" (submit)="onUpdateSelectedGuitariste()">
      <div class="w3-section">
        <label for="nom">Nom:</label>
        <input class="w3-input w3-border" type="text" id="nom" name="nom" formControlName="nom" required>
      </div>
      <div class="w3-section">
        <label for="prenom">Prénom:</label>
        <input class="w3-input w3-border" type="text" id="prenom" name="prenom" formControlName="prenom" required>
      </div>
      <div class="w3-section">
        <label for="dateNaiss">Date de naissance:</label>
        <input class="w3-input w3-border" type="date" id="dateNaiss" name="dateNaiss" formControlName="dateNaiss" required>
      </div>
      <div class="w3-section">
        <label for="guitare">Guitare:</label>
        <input class="w3-input w3-border" type="text" id="guitare" name="guitare" formControlName="guitare" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" [disabled]="!isFormPostValid">Mettre à jour</button>
    </form>
  </div>
</div>




<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:530px;padding-right:58px">
    <p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
  </div>
</body>
</html>

