<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" id="showcase">
    <h1 class="w3-jumbo"><b>Encyclopédie de guitares</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Accueil</b></h1>
    <!-- petite barre rouge -->
    <hr style="width:50px;border:5px solid red" class="w3-round">

        <p>Guitarothèque est un site permettant aux passionnés et curieux de la guitare de découvrir une multitude de modèle en tout genre. </p>
        <p>Ce site à été développé dans le cadre de projet final afin de clôturer la formation d'architecte logiciel.</p>

    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div><br>

<!-- Photo grid (modal) -->

<div style="display: flex; flex-wrap: wrap;">
    <!-- Première ligne -->
    <div style="flex-basis: 40%; margin: auto; display: flex; justify-content: center;">
      <img src="../assets/pictures/HomeGuit1.jpg" style="width: 100%; height: auto;">
    </div>
    <div style="flex-basis: 40%; margin:auto; display: flex; justify-content: center;">
      <img src="../assets/pictures/HomeGuit2.jpg" style="width: 100%; height: auto;">
    </div> 
    
    <!-- Deuxième ligne -->
    <div style="flex-basis: 40%; margin:auto; display: flex; justify-content: center;" >
      <img src="../assets/pictures/HomeGuit3.jpg" style="width: 100%; height: auto;">
    </div>
    <div style="flex-basis: 40%; margin:auto; display: flex; justify-content: center;">
      <img src="../assets/pictures/HomeGuit4.jpg" style="width: 100%; height: auto ;">
    </div>
  </div>  

  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Développeur.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p><b>Ce projet a été mené par:</b></p>
  </div>
  
  <div class="w3-row-padding">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../assets/pictures/pdpc.jpg" alt="Romano Adriano" style="width:100%">
        <div class="w3-container">
          <h3>Romano Adriano</h3>
          <p class="w3-opacity">Développeur .NET C#</p>
          <p>Jeune homme de 28 ans détenteur d'un bachelier en électronique.</p>
        </div>
      </div>
    </div>
  </div>
  

  

  <div class=" w3-container w3-padding-32" style="margin-top:100px;padding-right:58px">
    <p class="w3-right">Powered by Romano Adriano</p><br>
    <div  style="margin-top:10px;padding-right:58px">
  <a href="https://github.com/AdRii9362" title="W3.CSS" target="_blank" >Mon GitHub</a><br> 
  <a href="https://github.com/AdRii9362/Guitarotheque_Web_API" title="W3.CSS" target="_blank" >Projet API</a><br>
  <a href="https://github.com/AdRii9362/Guitarotheque_Angular" title="W3.CSS" target="_blank" >Projet ANGULAR</a><br>  
    </div>
  </div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->


