<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" id="showcase">
    <h1 class="w3-jumbo"><b>Encyclopédie de guitares</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Login Admin</b></h1>
    <!-- petite barre rouge -->
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>


  <div class="w3-container" style="margin-top:80px" id="showcase">

    <p>Statut connexion : {{status}}</p>
    
    
    <p>Email : <input class="w3-input w3-border" type="email" [(ngModel)]="email"></p>
    <p>Mot de passe : <input class="w3-input w3-border" type="password" [(ngModel)]="password"></p>
    
    <button (click)="login()" *ngIf="!status" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Connexion</button>
   
    
    <button (click)="logout()" *ngIf="status" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Déconnexion</button>
   
</div>



  


<div class=" w3-container w3-padding-32" style="margin-top:100px;padding-right:58px">
  <p class="w3-right">Powered by Romano Adriano</p><br>
  <div  style="margin-top:10px;padding-right:58px">
<a href="https://github.com/AdRii9362" title="W3.CSS" target="_blank" >Mon GitHub</a><br> 
<a href="https://github.com/AdRii9362/Guitarotheque_Web_API" title="W3.CSS" target="_blank" >Projet API</a><br>
<a href="https://github.com/AdRii9362/Guitarotheque_Angular" title="W3.CSS" target="_blank" >Projet ANGULAR</a><br>  
  </div>
</div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->

