<!-- <h3>test affichage</h3>
@for (g of guitaristeslist; track $index){
  <div>
    <p>{{g.nom}} | {{g.prenom}} | {{g.dateNaiss}}</p>
  </div>
} -->

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Encyclopédie de guitares</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Les guitares</b></h1>
    <!-- petite barre rouge -->
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
   

<!-- TestPagination -->
<div class="w3-row-padding" style="display:flex; flex-direction: row; flex-wrap: wrap;">
  <!-- Boucle sur la liste des guitares paginées -->
  <div *ngFor="let g of guitarelistpag; let i = index" class="w3-light-grey m4 w3-margin-bottom flex-col-adapt">
    <div class="w3-light-grey" style="height: 100%; display: flex; flex-direction: column;">
      <div class="w3-container" style="flex-grow: 1;">
        <h3>{{ g.libelle }} - ID:{{g.id_Guitare}}</h3>
        <div style="width: 99%; height: 35%;">
          <img class="ImgGuitare" [src]="'https://localhost:7206/images/'+ g.urlImage" alt="Romano Adriano">
        </div>
        <p class="w3-opacity">Prix: {{g.prix | currency: 'EUR'}}</p>
        <p class="w3-opacity">Nombre de cordes: {{g.nbrCordes}}</p>
        <p class="w3-opacity">Année de sortie: {{g.anneeDeSortie}}</p>
        <p class="w3-opacity">Description:</p>
        <p class="w3-opacity">{{g.description}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Boutons de pagination -->
<!-- <div id="scrollToTop" class="button-container">
  <button (click)="prevPage()" class="w3-button w3-red" [disabled]="currentPage === 1">◀</button>
  <ng-container *ngFor="let page of getPaginationArray()">
    <button (click)="goToPage(page)" class="w3-button w3-red" [class.active]="currentPage === page" [disabled]="currentPage === page">{{ page }}</button>
  </ng-container>
  <button (click)="nextPage()" class="w3-button w3-red" [disabled]="currentPage === totalPages">▶</button>
</div> -->

<div id="scrollToTop" class="button-container">
  <button (click)="goToFirstPage()" class="w3-button w3-red" [disabled]="currentPage === 1"><<</button>
  <button (click)="prevPages()" class="w3-button w3-red" [disabled]="currentPage === 1"><</button>
  <ng-container *ngFor="let page of getPaginationArray()">
    <button *ngIf="isNumber(page)" (click)="goToPage(page)" class="w3-button w3-red" [disabled]="currentPage === page">{{ page }}</button>
    <button *ngIf="page === '+'" (click)="nextFivePages()" class="w3-button w3-red">+</button>
    <button *ngIf="page === '-' && currentPage > 5" (click)="prevFivePages()" class="w3-button w3-red">-</button>
  </ng-container>
  <button (click)="nextPages()" class="w3-button w3-red" [disabled]="currentPage === totalPages">></button>
  <button (click)="goToLastPage()" class="w3-button w3-red" [disabled]="currentPage === totalPages">>></button>
</div>

  <!-- GetAll -->
  <!-- <div class="w3-row-padding w3-grayscale">
    <div *ngFor="let g of guitarelist; let i = index" class="w3-col m4 w3-margin-bottom" style="height: 1000px;">
      <div class="w3-light-grey" style="height: 100%; display: flex; flex-direction: column;">
        <div class="w3-container" style="flex-grow: 1;">
          <h3>{{ g.libelle }} - ID:{{g.id_Guitare}}</h3>
          <div style = "width: 99%; height: 35%;">
            <img class="ImgGuitare" [src]="'https://localhost:7206/images/'+ g.urlImage" alt="Romano Adriano">
          </div>
          <p class="w3-opacity">Prix: {{g.prix | currency: 'EUR'}}</p>
          <p class="w3-opacity">Nombre de cordes: {{g.nbrCordes}}</p>
          <p class="w3-opacity">Année de sortie: {{g.anneeDeSortie}}</p>
          <p class="w3-opacity">Description:</p>
          <p class="w3-opacity">{{g.description}}</p>         
        </div>
      </div>
    </div>
  </div> -->
  
<div *ngIf="status">
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>MENU ADMIN</b></h1>
    <!-- petite barre rouge -->
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <!-- Formulaire pour ajouter une nouvelle guitare -->

<div>
  <h2 class="w3-xxxlarge w3-text-red">Ajouter une guitare</h2>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <form [formGroup]="formInsertGuitare" (ngSubmit)="InsertGuitare()" >
    <div class="w3-section">
      <label for="libelle">Libellé:</label>
      <input class="w3-input w3-border" formControlName="libelle" type="text" id="libelle" name="libelle" required>     
    </div>
    <div class="w3-section">
      <label for="prix">Prix:</label>
      <input class="w3-input w3-border" formControlName="prix" type="number" id="prix" name="prix" required>
    </div>
    <div class="w3-section">
          <label for="nbrCordes">Nombre de cordes:</label>
          <input class="w3-input w3-border" formControlName="nbrCordes" type="number" id="nbrCordes" name="nbrCordes" required>
        </div>
        <div class="w3-section">
          <label for="anneeDeSortie">Année de sortie:</label>
          <input class="w3-input w3-border" formControlName="anneeDeSortie" type="number" id="anneeDeSortie" name="anneeDeSortie" required>
        </div>
        <div class="w3-section">
          <label for="description">Description:</label>
          <textarea class="w3-input w3-border" formControlName="description" id="description" name="description" rows="10" required></textarea>
        </div>
        

  <button type="submit" [disabled]="!isFormInsertValid" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Ajouter</button>

  
  </form>
</div>
  

<!-- Supprimer une guitare -->
<div>
  <h2 class="w3-xxxlarge w3-text-red">Supprimer une guitare</h2>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <div>
    <select [(ngModel)]="selectDeleteGuitare" style="margin-right: 10px">
      <option value="0">Sélection de la guitare</option>
      <option *ngFor="let g of guitarelistpag" [value]="g.id_Guitare">ID: {{g.id_Guitare}} | {{ g.libelle }} | Prix: {{ g.prix | currency: 'EUR' }} | Année: {{ g.anneeDeSortie }} | Nombre de cordes: {{g.nbrCordes}} </option>
    </select>
    <button (click)="onDeleteSelectedGuitare()" class="w3-button w3-red" [disabled]="!selectDeleteGuitare">Supprimer</button>
  </div>
</div>



<div>
  <h2 class="w3-xxxlarge w3-text-red">Modifier une guitare</h2>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <div>
    <!-- Sélectionnez un guitariste à mettre à jour -->
    <select [(ngModel)]="selectedGuitareId" style="margin-right: 10px">
      <option *ngFor="let g of guitarelistpag" [value]="g.id_Guitare">ID: {{g.id_Guitare}} | {{ g.libelle }} | Prix: {{ g.prix | currency: 'EUR' }} | Année: {{ g.anneeDeSortie }} | Nombre de cordes: {{g.nbrCordes}} </option>
    </select>    
  </div>
  <div>
    <br> 
    <!-- Formulaire pour mettre à jour le guitariste sélectionné -->
    <form [formGroup]="formPutGuitare" (submit)="onUpdateSelectedGuitare()">
      <div class="w3-section">
        <label for="libelle">Libellé:</label>
        <input class="w3-input w3-border" formControlName="libelle" type="text" id="libelle" name="libelle" required>
      </div>
      <div class="w3-section">
        <label for="prix">Prix:</label>
        <input class="w3-input w3-border" formControlName="prix" type="number" id="prix" name="prix" required>
      </div>
      <div class="w3-section">
            <label for="nbrCordes">Nombre de cordes:</label>
            <input class="w3-input w3-border" formControlName="nbrCordes" type="number" id="nbrCordes" name="nbrCordes" required>
          </div>
          <div class="w3-section">
            <label for="anneeDeSortie">Année de sortie:</label>
            <input class="w3-input w3-border" formControlName="anneeDeSortie" type="number" id="anneeDeSortie" name="anneeDeSortie" required>
          </div>
          <div class="w3-section">
            <label for="description">Description:</label>
            <textarea class="w3-input w3-border" formControlName="description" id="description" name="description" rows="10" required></textarea>
          </div>

      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" [disabled]="!isFormPutValid">Mettre à jour</button>
    </form>
  </div>
</div>

<div>
 <form [formGroup]="formPutImgGuitare">
    <label for="file">Sélection de l'image pour la guitare n° {{ selectedGuitareId }}:</label>
    <div>
      <input class="w3-input w3-border" type="file"
             id="file"
             (change)="handleFileInput($event.target)"
             formControlName="ImgGuitare">
    </div>
    <button class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" (click)="uploadFileToGuitare()" [disabled]="!(selectedGuitareId && fileToUpload) ">Mettre à jour l'image</button>
  </form>
</div>

</div>

  <!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:100px;padding-right:58px">
    <p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
  </div>
</body>
</html>